<%- include header %>
<h4 class="apd">系统发生错误</h4>
<h2 class="apc"><%= errors.errorCode %></h2>
	<ul class="nav tr aky akt" role="tablist">
		<li class="active" role="presentation">
			<a href="#error" role="tab" data-toggle="tab" aria-controls="error">基本信息</a>
		</li>
		<li role="presentation">
			<a href="#errors" role="tab" data-toggle="tab" aria-controls="errors"><%= errors.errorCode %>详情</a>
		</li>
	</ul>
	<hr class="akr">
	<div class="oh">
		<div role="tabpanel" class="oi active" id="error">
			<div class="fu db alg">
				<div class="font-center">
					<span class="f80 bv zy"><span>
					<h3>状态码: <%= errors.errorCode %></h3>
					<h3>错误消息: <%= errors.errorMessage %></h3>
					<h3>错误产生地址: <a href="<%= errors.errorUrl %>"><%= errors.errorUrl %></a></h3>
					<h3>错误产生时间: <%= errors.errorTime %></h3>
				</div>
			</div>
		</div>

		<div role="tabpanel" class="oi" id="errors">
			<div class="aqd ali">
				<%= errors.errorDetails %>
			</div>
		</div>
	</div>
<%- include footer %>