</div>
<div class="bw">
	<footer id="footer">
		<div class="container">
			<div class="row hidden-xs">
				<dl class="col-sm-3 site-link">
					<dt>内容许可</dt>
					<dd>
						<img class="qcode" src="http://bbs.ttxit.com/qrcode/weixin_gzh.jpg">
					</dd>
					<dd>扫描二维码关注微信公众号</dd>
				</dl>
				<dl class="col-sm-2 site-link">
					<dt>网站相关</dt>
					<dd><a href="">关于我们</a></dd>
					<dd><a href="">服务条款</a></dd>
					<dd><a href="">帮助中心</a></dd>
					<dd><a href="">声望与权限</a></dd>
					<dd><a href="">编辑器语法</a></dd>
				</dl>
				<dl class="col-sm-2 site-link">
					<dt>联系合作</dt>
					<dd><a href="">联系我们</a></dd>
					<dd><a href="">加入我们</a></dd>
				</dl>
				<dl class="col-sm-2 site-link">
					<dt>友情链接</dt>
					<dd>
						<img class="avatar-20 mr10 hidden-xs" src="http://bbs.ttxit.com/template/dean_lightcorp_150717/deancss/logo.png" alt="天天学IT-论坛">
						<a href="http://bbs.ttxit.com" target="_blank">天天学IT-论坛</a>
					</dd>
					<dd>
						<img class="avatar-20 mr10 hidden-xs" src="http://blog.ttxit.com/wp-content/uploads/2016/02/blog-e1454375522425.png" alt="天天学IT-论坛">
						<a href="http://blog.ttxit.com" target="_blank">天天学IT-博客</a>
					</dd>
				</dl>
				<dl class="col-sm-2 site-link">
					<dt>关注我们</dt>
					<dd><a href="https://github.com/ShrCheng" target="_blank">GitHub</a></dd>
					<dd><a href="https://www.linkedin.com/in/shrcheng" target="_blank">LinkedIn</a></dd>
					<dd><a href="" target="_blank">开发日志</a></dd>
				</dl>
				
			</div>
			<div class="copyright">
				Copyright © 2011-2016 天天学IT<br><a href="http://www.miibeian.gov.cn/" rel="nofollow">京ICP备15031807号</a>
			</div>
		</div>
	</footer>
</div>
</body>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="/javascripts/language/zh_CN.js"></script>
<script type="text/javascript" src="/javascripts/chart.js"></script>
<script type="text/javascript" src="/javascripts/tablesorter.min.js"></script>
<script type="text/javascript" src="/javascripts/toolkit.js"></script>
<script type="text/javascript" src="/javascripts/mditor.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.newsTicker.min.js"></script>
<script type="text/javascript" src="/javascripts/application.js"></script>
</html>