<%- include header %>
	<!-- 最新文章 -->
	<div class="col-xs-12 col-md-3 side">
		<h4 class="h4">最新发表文章</h4>
		<div class="side-ask alert alert-warning">
			<ul id="newBlogs">
				<% if (blogs.length > 0) { blogs.forEach(function (blog, index) { %>
					<li>
						<a href="/user/<%- blog.blogUser.userName%>/info">
							<% var userName =  blog.blogUser.userName; if (userName.length > 8) { %>
								<%= userName.substr(0, 8) %>...
							<% } else { %>
								<%= userName %>
							<% } %>
						</a> 发表 
						<a href="/blog/<%= blog.blogId %>/info">
							<% var title =  blog.blogTitle; if (title.length > 10) { %>
								<%= title.substr(0, 10) %>...
							<% } else { %>
								<%= title %>
							<% } %> 
						</a>
					</li>
				<% })} else{ %>
				md
				<% } %>
			</ul>
		</div>
		<!-- 最新标签 -->
		<div class="widget-box">
			<h2 class="h4 widget-box__title">最新标签</h2>
				<ul class="taglist--inline multi">
					<li class="tagPopup"><a class="tag" href=""  title="css" data-toggle="tooltip" data-placement="top">css</a></li>
				</ul>
		</div>
		<!-- 作者榜 -->				
		<div class="widget-box widget-taguser">
			<h2 class="h4 widget-box__title">名人榜
				<span class="taguser-catalog text-muted pull-right">
					本月 · <a href="/users">全部</a>
				</span>
			</h2>




		</div>
		<!-- 标签榜 -->				
		<div class="widget-box widget-taguser">
			<h2 class="h4 widget-box__title">标签榜</h2>
			<ol class="widget-top10">
				<li class="text-muted">
					<a href="" class="ellipsis">
						css
					</a>
					<span class="text-muted pull-right" title="标签 css 中共有 66 篇文章" data-toggle="tooltip" data-placement="top">+66</span>
				</li>
			</ol>
		</div>
	</div>
	<div class="col-xs-12 col-md-9">
		<!-- 归属类开始 -->
		<div>
			<section class="tag-info tag__info">
				<div>
					<img class="pull-left avatar-square-24 tag__info--thumbnai" src="https://sfault-avatar.b0.upaiyun.com/195/823/1958237468-1040000000089436_small">
						<span class="h4 tag__info--title">javascript</span>
					<div class="tag__info--follow">
						<a href="" class="btn btn-success btn-xs" title="添加到关注,获取最新消息" data-toggle="tooltip" data-placement="top" data-container="body">
		关注</a>
					</div>
				</div>
				<p class="tag__info--desc">JavaScript 是一门弱类型的动态脚本语言，支持多种编程范式，包括面向对象和函数式编程，被广泛用于 web 开发。 一般来说，完整的JavaScript包括以下几个部分： ECMAScript，描述了该语言的语法和基本对象 文档对...
					<a href="/t/javascript/info">[ 百科 ]</a>
				</p>
			</section>
		</div>
		<!-- 归属类结束 -->
		<!-- 博客开始 -->
		<div class="oh">
			<div>
				<% if (blogs.length <= 0) {%>
					<div class="font-center">
						<span class="f80 bv zy"><span>
						<h3>没有文章哦,现在去发表<a href="/new_blog">发表新文章</a></h3>
					</div>
				<% } else { %>
					<% blogs.forEach(function (blog, index) { %>
						<section class="stream-list__item">
							<div class="blog-rank">
								<div class="votes"<% if (blog.blogRec > 0) { %> style="background: #009a61;" <% } %> >
									<%= blog.blogRec %><small>推荐</small>
								</div>
								<div class="views hidden-xs">
									<%= blog.blogPV %><small>浏览</small>
								</div>
							</div>
							<div class="summary">
								<h2 class="title">
									<a href="/blog/<%= blog.blogId %>/info"> <%= blog.blogTitle %> </a>
								</h2>
								<div class="content-show"><%- blog.blogContent %></div>
							
							<ul class="author list-inline">
								<li class="pull-right" title="<%= blog.blogCollect %> 收藏">
									<small class="glyphicon glyphicon-bookmark" <% if (blog.blogCollect > 0) { %> style="color: #009a61;" <% } %>></small> <%= blog.blogCollect %>
								</li>
								<li>
									<a href="/user/<%- blog.blogUser.userName%>/info">
										<img class="avatar-20 mr10 hidden-xs" src="<%- blog.blogUser.userImageUrl %>" alt="<%= blog.blogUser.userName %>"><%= blog.blogUser.userName %>
									</a>发布于<span class="split"></span>
									<% var date = new Date(),
										year = date.getFullYear() - blog.blogTime.year,
										month = (date.getMonth() + 1) - blog.blogTime.month,
										day = date.getDay() - blog.blogTime.day,
										minute = date.getMinutes() - blog.blogTime.minute,
										seconds = date.getSeconds() - blog.blogTime.seconds; if (year > 0) {%>
										<%- year %> 年前
									<% } else if (month > 0){ %>
										<%- month %> 个月前
									<% } else if (day > 0){ %>
										<%- day %> 天前
									<% } else if (minute > 0){ %>
										<%- minute %> 分钟前
									<% } else if (seconds > 0) { %>
									 	<%- seconds %> 秒前
									<% } else {%>
										0 秒前
									<% } %>
								</li>
							</ul>
						</div>
					</section>
				<% }) %>
				<!-- 分页 -->
<!-- 				<div class="text-center"> -->
<!-- 				    <ul class="pagination"> -->
<!-- 						<li class="active"> -->
<!-- 							<a href="javascript:void(0);">1</a> -->
<!-- 						</li> -->
<!-- 						<li> -->
<!-- 							<a href="/t/javascript/blogs?page=2">2</a> -->
<!-- 						</li> -->
<!-- 						<li><a href="/t/javascript/blogs?page=3">3</a></li> -->
<!-- 						<li><a href="/t/javascript/blogs?page=4">4</a></li> -->
<!-- 						<li><a href="/t/javascript/blogs?page=5">5</a></li> -->
<!-- 						<li class="disabled"><span>…</span></li> -->
<!-- 						<li class="next"><a rel="next" href="/t/javascript/blogs?page=2"><span class="bv zj"></span></a></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
			<% } %>		
		</div>
	</div>
</div>
<%- include footer %>
<script>
 	$('#newBlogs').newsTicker({
		row_height: 30,
		max_rows: 6,
		duration: 1000,
	});
</script>